*.pbo
*.biprivatekey
*.obf
*.RPT
*.log
*.ADM
*.mdmp
*.ch
*.DayZProfile
Profiles/**/Users/*

texHeaders.bin
dayz.bin
build.bin
launch.bin

.vscode/
.idea/

Missions/**/storage_*

*.vsidx
*.suo
*.db
*.ipch
*.so
*.lib
*.dll
*.dylib
*.cache
*.user